

.parent {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  background-color: red;
  background-image:
    linear-gradient(
      to right, 
      red, 
      #f06d06, 
      rgb(255, 255, 0), 
      green
    );
}
h1 {
 font-size: 30px;
  color: rgb(0, 0, 0);
  text-decoration: underline;
 

}


img{
  width: 400px;
}
button{
  background-color: rgb(231, 201, 3);
  outline: none;
  border: none;
  border-radius: 10px;
  width: 120px;
  height: 30PX;
  color: rgb(0, 0, 0);
  size: 30px;
}
